.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character-name {
    color: aquamarine;
}

.name-fav-style-box {
    display: flex;
    justify-content: space-evenly;

}

.add-to-fav-button {
    height: 3vh;
    margin: 16px;
}