.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}

.pagination {
    display: flex;
    margin-top: 1vh;
}

.pagination-dots {
    color: yellow;
    size: 80vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.pagination-current-page {
    color: greenyellow;
    margin-left: 1vw;
    margin-right: 1vw;
}

.pagination-button {
    border-radius: 50%;
    color: yellow;
    background-color: rgb(255, 16, 240);
}

button:hover,
button:focus {
    background: aqua;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}