.character-page-main {
    height: 90%;
    width: 80%;
    /* background-color: rgb(195, 189, 174); */
    position: static;
}

.character-page-styling {
    display: flex;
    justify-content: space-evenly;


}

.episode-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.character-info {
    color: yellow;
}

.episode-container {
    color: yellow
}

@media screen and (max-width: 40em) {
    .character-photo {
        height: 26vh;
        width: 16vh;
    }

    .character-info {
        margin-left: 2vw;
    }
}